<template>
  <div>
    <h1>TEST</h1>
    <p>Test paragraph</p>
    <ul>
      <li
        v-for="state in getMyState"
        :key="state"
      >
        {{ state }}
      </li>
    </ul>

    <input v-model="message" type="text">
    <button @click="sendMessage">Send</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "Test",
  data() {
    return {
      message: ''
    }
  },
  computed: {
    ...mapGetters(['getMyState'])
  },
  methods: {
    sendMessage() {
      this.$socket.emit('send-message', this.message)
    }
  }
}
</script>

<style scoped>

</style>